<script src="assets/logic/comu_logic.js" type="text/javascript"></script>

<div id="comu_bigbox">
	<div class="color_box_for_test">
		<h2> UPDATE EXISTING PLAYER INFORMATION </h2>
	</div>

	<div id="comu_selection_box">
	<select id="updated_season">
		{{#each season}}
			<option value={{id}}>{{description}}</option>
		{{/each}}
	</select>

	<select id="updated_week">
			<option value=1 >week 1</option>
			<option value=2 >week 2</option>
			<option value=3 >week 3</option>
			<option value=4 >week 4</option>
			<option value=5 >week 5</option>
			<option value=6 >week 6</option>
			<option value=7 >week 7</option>
			<option value=8 >week 8</option>
			<option value=9 >week 9</option>
			<option value=10 >week 10</option>
			<option value=11 >week 11</option>
			<option value=12 >week 12</option>
			<option value=13 >week 13</option>
			<option value=14 >week 14</option>
			<option value=15 >week 15</option>
			<option value=16 >week 16</option>
	</select>


	<select id="updated_player">
		{{#each player}}
			<option value={{id}}>{{fname}} {{lname}}</option>
		{{/each}}
	</select>

	<button id="comu_submit_all">update</button>
	</div>
	<br>


	<div id="comu_stats_box">
		<a> touchdowns </a><br>
		<input id="updated_pass_td" type="number"> pass 
		<input id="updated_rush_td" type="number"> rush
		<input id="updated_rec_td" type="number"> rec
		<br><br>
		<a> yards gained</a><br>
		<input id="updated_pass_yd" type="number"> pass
		<input id="updated_rush_yd" type="number"> rush
		<input id="updated_rec_yd" type="number"> rec
		<br><br>
		<a> other offensive stats </a><br>
		<input id="updated_num_rec" type="number"> number of receptions
		<input id="updated_fg" type="number"> field goals
		<input id="updated_tpc" type="number"> two point conversion
		<br><br>
		<a> position neutral stats </a><br>
		<input id="updated_fumble" type="number"> fumbles
		<input id="updated_int" type="number"> interceptions
		<br><br>
		<a> defensive stats </a><br> 
		<input id="updated_sack" type="number"> sacks
		<input id="updated_tackle" type="number"> tackles
	</div>

	<br>
</div>