<script src="assets/logic/oer.js" type="text/javascript"></script>

    <div class="color_box_for_test">
        <h2> EDIT ROSTER (ACTIVE ROSTER, DROP PLAYERS) </h2>
    </div>

    <h2> edit roster </h2>

    <button id="enableEdit">click to edit roster</button>

    <div id="roster">
        <h3> active </h3>
        <div id="activeRoster">

            <div id="activeQBSlot" class="active">
                <a id={{qb.id}} class="activeQB"> {{qb.name}}
                    <button id="moveQB" class="moveToBench">move to bench</button>
                    <button id="selectToSwapQB" class="selectToSwap"> selection </button> 
                </a>
                <a class="position_marker"> QB </a>
            </div>

            <div id="activeRB1Slot" class="active">
                <a id={{rb1.id}} class="activeRB1"> {{rb1.name}}
                    <button id="moveRB1" class="moveToBench">move to bench</button>
                    <button id="selectToSwapRB1" class="selectToSwap"> selection </button>  
                </a> 
                <a class="position_marker"> RB1 </a>
            </div>

            <div id="activeRB2Slot" class="active">
                <a id={{rb2.id}} class="activeRB2"> {{rb2.name}}
                    <button id="moveRB2" class="moveToBench">move to bench</button>
                    <button id="selectToSwapRB2" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> RB2 </a>
            </div>

            <div id="activeFLEXSlot" class="active">
                <a id={{flex.id}} class="activeFLEX"> {{flex.name}}
                    <button id="moveFLEX" class="moveToBench">move to bench</button>
                    <button id="selectToSwapFLEX" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> FLEX </a>
            </div>

            <div id="activeWR1Slot" class="active">
                <a id={{wr1.id}} class="activeWR1"> {{wr1.name}}
                    <button id="moveWR1" class="moveToBench">move to bench</button>
                    <button id="selectToSwapWR1" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> WR1 </a>
            </div>

            <div id="activeWR2Slot" class="active">
                <a id={{wr2.id}} class="activeWR2"> {{wr2.name}}
                    <button id="moveWR2" class="moveToBench">move to bench</button>
                    <button id="selectToSwapWR2" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> WR2 </a>
            </div>

            <div id="activeTESlot" class="active">
                <a id={{te.id}} class="activeTE"> {{te.name}}
                    <button id="moveTE" class="moveToBench">move to bench</button>
                    <button id="selectToSwapTE" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> TE </a>
            </div>

            <div id="activeKSlot" class="active">
                <a id={{k.id}} class="activeK"> {{k.name}}
                    <button id="moveK" class="moveToBench">move to bench</button>
                    <button id="selectToSwapK" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> K </a>
            </div>

            <div id="activeLBSlot" class="active">
                <a id={{lb.id}} class="activeLB"> {{lb.name}}
                    <button id="moveK" class="moveToBench">move to bench</button>
                    <button id="selectToSwapLB" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> LB </a>
            </div>

            <div id="activeSSlot" class="active">
                <a id={{s.id}} class="activeS"> {{s.name}}
                    <button id="moveS" class="moveToBench">move to bench</button>
                    <button id="selectToSwapS" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> S </a>
            </div>

            <div id="activeCSlot" class="active">
                <a id={{c.id}} class="activeC"> {{c.name}}
                    <button id="moveC" class="moveToBench">move to bench</button>
                    <button id="selectToSwapC" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> CB </a>
            </div>

            <div id="activeDLSlot" class="active">
                <a id={{dl.id}} class="activeDL"> {{dl.name}}
                    <button id="moveDL" class="moveToBench">move to bench</button>
                    <button id="selectToSwapDL" class="selectToSwap"> selection </button>  
                </a>
                <a class="position_marker"> DL </a>
            </div>
        </div>

        <h4>bench</h4>

        <div id="benchRoster">
        {{#each player}}
            <div id={{benchSlot}} class="bench">
                <a id={{id}} class={{class}}> {{name}}
                    <button id={{buttonID}} class="moveToActive">move to roster</button>
                    <button id={{selectionButtonID}} class="selectToSwitch">selection</button>
                </a>
            </div>
        {{/each}}
        </div>
    </div>