    <div class="color_box_for_test alert alert-dismissible">
        <h2>{{name_team_a}} vs. {{name_team_b}}</h2>

        <div id="betDisplay">
            <h3>${{bet}} on the line!</h3>
        </div>
    </div>

<div id="oer_bigbox">
    <div class="col-xs-12">
       <div id="roster_a_bigbox">

            <div id="benchRoster_a" class="col-xs-3">
                <h4>Bench A</h4>

            	{{#each bench_player_a}}
                	<div id={{benchSlot}} class="bench well well-sm">
                    	<a id={{id}} class={{class}}> {{name}} </a>
                        <a class="littleScoreBox"> {{score}} </a>
                	</div>
            	{{/each}}
            </div>

            <div id="activeRoster_a" class="col-xs-3">

                <h4 class="active_box"> 
                    <a> Active </a>
                    <a class="littleScoreBox"> {{scoreA}} <a>
                </h4>

                <div id="activeQBSlot_a" class="active well well-sm">
                    <a id={{qb_a.id}} class="activeQB"> {{qb_a.name}} </a>
                    <a id=qb_a_score class="littleScoreBox"> {{qb_a.score}} </a>
                </div>

                <div id="activeRB1Slot_a" class="active well well-sm">
                    <a id={{rb1_a.id}} class="activeRB1"> {{rb1_a.name}} </a> 
                    <a id=rb1_a_score class="littleScoreBox"> {{rb1_a.score}} </a>
                </div>

                <div id="activeRB2Slot_a" class="active well well-sm">
                    <a id={{rb2_a.id}} class="activeRB2"> {{rb2_a.name}} </a>
                    <a id=rb2_a_score class="littleScoreBox"> {{rb2_a.score}} </a>
                </div>

                <div id="activeFLEXSlot_a" class="active well well-sm">
                    <a id={{flex_a.id}} class="activeFLEX"> {{flex_a.name}} </a>
                    <a id=flex_a_score class="littleScoreBox"> {{flex_a.score}} </a>
                </div>

                <div id="activeWR1Slot_a" class="active well well-sm">
                    <a id={{wr1_a.id}} class="activeWR1"> {{wr1_a.name}} </a>                    
                    <a id=wr1_a_score class="littleScoreBox"> {{wr1_a.score}} </a>
                </div>

                <div id="activeWR2Slot_a" class="active well well-sm">
                    <a id={{wr2_a.id}} class="activeWR2"> {{wr2_a.name}} </a>
                    <a id=wr2_a_score class="littleScoreBox"> {{wr2_a.score}} </a>
                </div>

                <div id="activeTESlot_a" class="active well well-sm">
                    <a id={{te_a.id}} class="activeTE"> {{te_a.name}} </a>
                    <a id=te_a_score class="littleScoreBox"> {{te_a.score}} </a>
                </div>

                <div id="activeKSlot_a" class="active well well-sm">
                    <a id={{k_a.id}} class="activeK"> {{k_a.name}} </a>
                    <a id=k_a_score class="littleScoreBox"> {{k_a.score}} </a>
                </div>

                <div id="activeLBSlot_a" class="active well well-sm">
                    <a id={{lb_a.id}} class="activeLB"> {{lb_a.name}} </a>
                    <a id=lb_a_score class="littleScoreBox"> {{lb_a.score}} </a>
                </div>

                <div id="activeSSlot_a" class="active well well-sm">
                    <a id={{s_a.id}} class="activeS"> {{s_a.name}} </a>
                    <a id=s_a_score class="littleScoreBox"> {{s_a.score}} </a>
                </div>

                <div id="activeCSlot_a" class="active well well-sm">
                    <a id={{c_a.id}} class="activeC"> {{c_a.name}} </a>
                    <a id=c_a_score class="littleScoreBox"> {{c_a.score}} </a>
                </div>

                <div id="activeDLSlot_a" class="active well well-sm">
                    <a id={{dl_a.id}} class="activeDL"> {{dl_a.name}} </a>
                    <a id=dl_a_score class="littleScoreBox"> {{dl_a.score}} </a>
                </div>
            </div>

        </div>

        <div id="roster_b_bigbox">

            <div id="activeRoster_b" class="col-xs-3">

            <h4 class="active_box"> 
                <a class="name_b"> Active </a>
                <a class="littleScoreBox score_b"> {{scoreB}} <a>
            </h4>

                <div id="activeQBSlot_b" class="active well well-sm">
          			<a id={{qb_b.id}} class="activeQB name_b"> {{qb_b.name}} </a>
                    <a id=qb_b_score class="littleScoreBox score_b"> {{qb_b.score}} </a>
                </div>

                <div id="activeRB1Slot_b" class="active well well-sm">
                    <a id={{rb1_b.id}} class="activeRB1 name_b"> {{rb1_b.name}} </a>
                    <a id=rb1_b_score class="littleScoreBox score_b"> {{rb1_b.score}} </a> 
                </div>

                <div id="activeRB2Slot_b" class="active well well-sm">
                    <a id={{rb2_b.id}} class="activeRB2 name_b"> {{rb2_b.name}} </a>
                    <a id=rb2_b_score class="littleScoreBox score_b"> {{rb2_b.score}} </a>
                </div>

                <div id="activeFLEXSlot_b" class="active well well-sm">
                    <a id={{flex_b.id}} class="activeFLEX name_b"> {{flex_b.name}} </a>
                    <a id=flex_b_score class="littleScoreBox score_b"> {{flex_b.score}} </a>
                </div>

                <div id="activeWR1Slot_b" class="active well well-sm">
                    <a id={{wr1_b.id}} class="activeWR1 name_b"> {{wr1_b.name}} </a>
                    <a id=wr1_b_score class="littleScoreBox score_b"> {{wr1_b.score}} </a>
                </div>

                <div id="activeWR2Slot_b" class="active well well-sm">
                    <a id={{wr2_b.id}} class="activeWR2 name_b"> {{wr2_b.name}} </a>
                    <a id=wr2_b_score class="littleScoreBox score_b"> {{wr2_b.score}} </a>
                </div>

                <div id="activeTESlot_b" class="active well well-sm">
                    <a id={{te_b.id}} class="activeTE name_b"> {{te_b.name}} </a>
                    <a id=te_b_score class="littleScoreBox score_b"> {{te_b.score}} </a>
                </div>

                <div id="activeKSlot_b" class="active well well-sm">
                    <a id={{k_b.id}} class="activeK name_b"> {{k_b.name}} </a>
                    <a id=k_b_score class="littleScoreBox score_b"> {{k_b.score}} </a>
                </div>

                <div id="activeLBSlot_b" class="active well well-sm">
                    <a id={{lb_b.id}} class="activeLB name_b"> {{lb_b.name}} </a>
                    <a id=lb_b_score class="littleScoreBox score_b"> {{lb_b.score}} </a>
                </div>

                <div id="activeSSlot_b" class="active well well-sm">
                    <a id={{s_b.id}} class="activeS name_b"> {{s_b.name}} </a>
                    <a id=s_b_score class="littleScoreBox score_b"> {{s_b.score}} </a>
                </div>

                <div id="activeCSlot_b" class="active well well-sm">
                    <a id={{c_b.id}} class="activeC name_b"> {{c_b.name}} </a>
                    <a id=c_b_score class="littleScoreBox score_b"> {{c_b.score}} </a>
                </div>

                <div id="activeDLSlot_b" class="active well well-sm">
                    <a id={{dl_b.id}} class="activeDL name_b"> {{dl_b.name}} </a>
                    <a id=dl_b_score class="littleScoreBox score_b"> {{dl_b.score}} </a>
                </div>
            </div>


            <div id="benchRoster_b" class="col-xs-3">
            <div class="active_box">
                <h4>Bench B</h4>
            <div>
            	{{#each bench_player_b}}
                	<div id={{benchSlot}} class="bench well well-sm">
                    	<a id={{id}} class="{{class}} name_b"> {{name}} </a>
                        <a class="littleScoreBox score_b"> {{score}} </a>
                	</div>
            	{{/each}}
            </div>
        </div>
    </div>
</div>